#code_exp,#video,#taskeva,#bookreq{
width: 100%;
	overfllow:hidden;
}
#video{
background:pink;
}
#taskeva{
background:#3da1d1;
}
#bookreq{
background:#ADEC3C;
}
.taskq{
width:50%;
height:100%;
float:left;
}
.taskq1{
width:100%;
height:30%;
}
.taskq2{
width:100%;
height:70%;
}
.taska{
width:50%;
height:100%;
float:left;
}