.fullmask {
	width: 100%;
	height: 99999px;
	position: relative;
	margin: 0 auto 40px;
	text-align: center;
}

.slide_content {
	overflow: hidden;
	background-color: #e2e2e2;
	position: relative;
	width: 100%;
	height: 100%;
}
.mp-pusher .topmenu {
	position: relative;
	width: 100%;
	height: 55px;
	background: #333745;
	z-index: 100;
	text-align: center;
	box-shadow: 0 1px 22px rgba(0,0,0,0.3);
}
.topmenu ul {
	width: 800px;
	margin: 0 auto;
}
#nav-center {
	width: 500px;
	margin: 0 auto;
}
#nav-center ul {
	height: 55px;
	width: 452px;
}
.topmenu ul.nav li {
	float: left;
	position: relative;
	width: 113px;
	height: 55px;
	padding-left: 2px;
	background: url("../img/divider.png") left no-repeat;
	text-align: left;
	transition: background-color 0.1s ease-out;
	list-style-type: none;
}
.topmenu ul.nav li a {
	padding: 0px 0px;
	font-size: 16px;
	font-weight: bold;
	line-height: 3.5;
	width: 113px;
	height: 55px;
	display: block;
	text-decoration: none;
	text-align: center;
	transition: background-color 0.2s ease-out;
}
.topmenu ul.nav li a:hover {
	background-color: #05b9dc;
	transition: background-color 0.2s ease-out;
}
.topmenu ul.nav li .active-a {
	box-shadow: 0px -5px #05b9dc inset;
}
