@charset "utf-8"; /* CSS Document */
* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	list-style: none;
	line-height: 1;
	font-family: 微软雅黑;
	font-weight: normal;
	color: white;
	text-align: center;
}
::-webkit-scrollbar {
	width: 5px;
	background: #2a2e3a;
}
::-webkit-scrollbar-thumb {
	background: #05b9dc;
	border-radius: 10px;
}
::-webkit-input-placeholder{
	color:#666;
	font-size: 20px;
}
html{
	overflow-x:hidden;
	height:100%;
	font-size: 14px;
}
body{
	background: url("../img/indexbg.png") center no-repeat;
	background-attachment:fixed;
	background-size: 100% 100%;
	height:100%;
}
header{
	width: 100%;
	height:285px;
	background: url("../img/ring.png") no-repeat top center;
}
nav{
	position: fixed;
	width: 100%;
	height: 55px;
	background: #333745;
	z-index: 999;
	text-align: center;
	box-shadow: 0 1px 22px rgba(0,0,0,0.3);
}
#nav-center{
	width:345px;
	margin:0 auto;
}
#nav-center ul{
	height:55px;
	width:345px;
}
ul.nav li {
	float: left;
	position: relative;
	width: 113px;
	height: 55px;
	padding-left: 2px;
	background: url("../img/divider.png") left no-repeat;
	text-align: left;
	transition: background-color 0.1s ease-out;
}

ul.nav li a {
	font-size: 16px;
	font-weight: bold;
	line-height: 3.5;
	width: 115px;
	height: 55px;
	display: block;
	text-decoration: none;
	transition: background-color 0.2s ease-out;
}
ul.nav li a:hover{
	background-color: #05b9dc;
	transition: background-color 0.2s ease-out;
}
#nav-right{
	float: right;
}
#nav-right,#nav-right ul,#nav-right li,#nav-right a {
	width: 60px;
}
.about-btn a{
	background: url("../img/divider.png") top right no-repeat;
}
#logo {
	position: absolute;
	width: 100%;
	height: 230px;
	top: 70px;
	text-align: center;
	z-index: 0;
	margin: 0;
	padding: 0;
}
#flip {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -90px;
	-webkit-perspective: 800;
	margin-top: 25px;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}
.tab-logo{
	width: 180px;
	height: 180px;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	border-radius: 50%;
	transition: 0.7s ease-in-out;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: center;
}
.active-logo{
	z-index: 2;
	-webkit-transform: rotateY(0deg);
}
.hideprev{
	-webkit-transform: rotateY(-180deg);
	z-index: -1;
}
.hidenext{
	-webkit-transform: rotateY(180deg);
	z-index: -1;
}

#tab-container {
	position:relative;
	overflow: hidden;
}
.tab{
	width:100%;
}
.transition {
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;

	-webkit-transition-delay: .6s;
	-moz-transition-delay: .6s;
	-o-transition-delay: .6s;
	-ms-transition-delay: .6s;
	transition-delay: .6s;
}

.make_transist {
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}


.hideleft {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: -1;
}
.hideright {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: -1;
}

.show{
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	filter: alpha(opacity=100);
	opacity: 100;
}
.active-a {
	box-shadow: 0px -5px #05b9dc inset;
}
.subtab article p,.images p{
	font-size: 23px;
	width: 60%;
	margin: 0 auto 30px;
	background-color: #313131;
	border-radius: 50px;
	line-height: 2.2;
}
.tab{
	position: absolute;
	width: 90%;
	top: 25px;
	left:5%;
}
.cover{
	position:absolute;
	display: inline-block;
	top:0;
	left: 0;
}
.subtab section ul{
	max-width: 1050px;
	margin:0 auto;
}
.subtab section ul li{
	width:180px;
	height:180px;
	border-radius: 50%;
	float: left;
	position: relative;
	margin: 15px;
}
.subtab section ul li a{
	width:180px;
	height:180px;
	cursor: pointer;
}
#aboutus{
	width:60%;
	margin:0 auto;
	background-color: #313131;
	border-radius: 10px;
}
#aboutus h1{
	line-height: 3;
}
#login{
	background: url("../img/loginbg.png");
	width:354px;
	height:243px;
	margin:20px auto;
	padding-top: 100px;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
#username,#password{
	width: 80%;
	height: 60px;
	margin:0 auto;
	background-color: #f3f4f5;
	text-align: left;
	border: 1px solid #ddd;
	color:black;
	padding-left: 5px;
	font-size: 23px;
}
#username{
	border-radius: 5px 5px 0 0;
}
#password{
	border-radius: 0px 0px 5px 5px;
}
#tab-login-content button{
	width: 130px;
	height: 58px;
	font-size: 20px;
	margin: 20px 12px;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 58px;
	text-decoration: inherit;
}
#btn-register{
	background-color: #5bb75b;
}
#btn-login{
	background-color: #006dcc;
}
#register{
	background-color: #333745;
	width:500px;
	height:500px;
	margin:20px auto;
	padding-top: 50px;
	border-radius: 20px;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.register{
	width: 80%;
	height: 36px;
	margin:8px auto;
	background-color: #f3f4f5;
	text-align: left;
	border: 1px solid #ddd;
	color:black;
	padding-left: 5px;
	font-size: 16px;
	border-radius: 5px;
}
#rbtn-register{
	background-color: #006dcc;
}
#rbtn-back{
	background-color: #5bb75b;
}
.subtab{
	position: absolute;
	width:100%;
}
.images{
	position: absolute;
	left: 10%;
	width: 80%;
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
}
.image {
	background: #333745;
	padding: 0 15px 15px 15px;
	min-height: 400px;
	width:96%;
	display: inline-block;
}
.img-f {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-top: 15px;
}

.image img {
	width: 100%;
	height: auto;
	border-radius: 15px;
}
.next, .prev, .close{
	position: fixed;
	background: #333745;
	z-index: 99;
	padding: 5px;
}
.next,.close {
	right: -70px;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
}
.next,.prev{
	top:300px;
}
.close{
	top:150px;
}
.prev {
	left: -70px;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
}
.next a, .prev a, .close a{
	display: block;
	width: 50px;
	height: 50px;
	margin: 3px;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.1s ease-in-out;
}
.next a{
	background: url("../img/ar-r.png") center no-repeat #05b9dc;
}
.prev a{
	background: url("../img/ar-l.png") center no-repeat #05b9dc;
}
.close a{
	background: url("../img/x.png") center no-repeat #05b9dc;
}
.next a:hover, .prev a:hover, .close a:hover{
	background-color: red;
}