body, html {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
}
a,h3,h4{
	font-family:"微软雅黑",Calibri, Arial, sans-serif;
	}
.nfull_tabbed_content {
	background-color: #fff;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.nfull_ppt_tabs {
	height: 100%;
	position: relative;
	width: 200px;
	float: left;
	background: #ACAEB4;
	overflow-y: scroll;
}
.nfull_ppt_tabs .tab_item {
	display: block;
	float: left;
	width: 160px;
	height: 120px;
	text-align: center;
	position: relative;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 11px;
	background-size: cover;
}
.tab_item1 {
	background: url(../img/ppt01.PNG);
}
.tab_item2 {
	background: url(../img/ppt02.PNG);
}
.tab_item3 {
	background: url(../img/ppt03.PNG);
}
.tab_item4 {
	background: url(../img/ppt04.PNG);
}
.tab_item5 {
	background: url(../img/ppt05.PNG);
}
.tab_item6 {
	background: url(../img/ppt01.PNG);
}
.tab_item7 {
	background: url(../img/ppt02.PNG);
}
.tab_item8 {
	background: url(../img/ppt03.PNG);
}
.nfull_slide_content {
	overflow: hidden;
	background-color: #000000;
	position: relative;
	float: left;
	height: 100%;
}
.nfull_tabslider {
	width: 9999999px;
	height: 100%;
}
.nfull_tabslider .pptm {
	float: left;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #fff;
	list-style: none;
	background-size: cover;
	background-repeat: no-repeat;
}
.nfull_tabslider ul a {
	color: #ffffff;
	text-decoration: none;
}
.nfull_tabslider ul a:hover {
	color: #aaaaaa;
}
.nfull_tabslider ul li {
	padding-bottom: 7px;
}
.nfull_tabslider .pptm_img {
	height: 100%;
	min-width:400px;
	min-height:300px;
}
.nfullr{
height:100%;
float:left;
background:#FFF;
margin-left:10px;
	}
	.nfullnote{
		width:95%;
		height:40%;
		}
.nfullqa{
	width:95%;
	height:55%;
	}
	.qatitle{
		width:100%;
		height:30px;
		}
.progress-to-hide{
	-webkit-transform: translateY(-80px);
-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
	}
	.item-to-top{
	padding-top:0px;
	}
	.bt_preclass,.bt_nextclass{
	}
