body{
	background-color:#e2e2e2;
	font-family: 微软雅黑;
}
h4{
	font-family: 微软雅黑;
}
::-webkit-scrollbar {
	width: 5px;
	background: #2a2e3a;
}
::-webkit-scrollbar-thumb {
	background: #05b9dc;
	border-radius: 10px;
}
a,a:hover{
	text-decoration: none;
}
#carousel-inner-pc{
	width:100%;
	margin:0 auto;
}
#carousel-indicators-pc {
	position:relative;
	width:1225px;
	height:70px;
	left: 0;
	bottom: 0;
	margin:0 auto;
}

#carousel-indicators-pc li{
	position:relative;
	height:70px;
	width:290px;
	border:none;
	cursor: default;
	text-indent:0;	
	font-size: 20px;
	margin:-2px;
}
#carousel-indicators-pc li.li-last{
	width:40px;
}
#carousel-indicators-pc li.li-last span{
	width:80px;
}
#carousel-indicators-pc .pprev{
	background: url('../img/pb-pprev.png') no-repeat;
	background-position: bottom left;
	color:#6dd9aa;
}
#carousel-indicators-pc .prev{
	background: url('../img/pb-prev.png') no-repeat;
	background-position: bottom left;
	color:#6dd9aa;
}
#carousel-indicators-pc .active{
	background: url('../img/pb-now.png') no-repeat;
	background-position: bottom left;
	color:#72c8fa;
}
#carousel-indicators-pc .next{
	background: url('../img/pb-next.png') no-repeat;
	background-position: bottom left;
	color:#a4adb8;
}
#carousel-indicators-pc span{
	position: absolute;
	left: -20px;
}
.words{
	width:999px;
	margin:0 auto;
	text-align: center;
	padding: 0;
}
.words li{
	display: inline-block;
	width:196px;
	cursor: default;
}
#prepare-class{
	margin-top: 70px;
}
.class-list,#accordion,#environment,.exer-list{
	width: 65%;
	margin: 20px auto;
}
.class-list{
	background-color: #fff;
	border-radius: 8px;
	font-size:18px;
	position:relative;
	height:200px;
	box-shadow: #b7b7b7 8px 5px 5px;
}
.class-list .btn{
	vertical-align: baseline;
}
.class-list-left{
	float: left;
	width:50%;
	height:160px;
	padding-right: 30px;
}
.class-list-right{
	float:right;
	width:50%;
	height:160px;
	background-color: #87dc99;
	color: white;
	padding-left: 30px;
}
.class-img{
	float: left;
	height: inherit;
	background-color: #4c4c4c;
	margin-right: 20px;
	position: relative;
}
.class-img img{
	max-height: 100%;
	padding:10%;
}
.class-questions{
	float: right;
	height: 100px;
	width: 120px;
	background-color: #4c4c4c;
	text-align: center;
	padding-top: 15px;
	position:relative;
}
.class-questions span{
	font-size: 25px;
}
.class-progress{
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	background-color: #f0f0f0;
	border-radius: 0 0 8px 8px;
}
.class-progress p{
	line-height: 2.3;
	color:#6dd9aa;
}
.progress-cover{
	background-color: #6dd9aa;
	height: 40px;
	float: left;
	border-radius: 0 0 0 8px;
}
h3.underline{
	border-bottom: 1px solid #d5d5d5;
	margin-left:170px;
	line-height: 1.5;
}
p.underline{
	border-bottom: 1px solid whitesmoke;
	line-height: 2;
	margin: 20px 150px 10px 0;
}
#accordion .panel-title{
	font-size: 24px;
	color:#333;
}
#accordion .panel-body{
	padding:0;
	font-size: 18px;
}
#accordion ul{
	margin:0;
	padding:0;
}
#accordion li{
	list-style: none;
}
#accordion li:hover{
	background-color:#72c8fa;
	color:white;
}
#accordion li p{
	margin:0;
	padding:10px 36px;
}
#environment{
	position: relative;
	min-height:150px;
	background-color: #eee;
	border-radius: 8px;
	width:60%;
}
#environment-header{
	width:100%;
	background-color: #6dd9aa;
	color: white;
	font-size: 20px;
	height: 50px;
	line-height: 2.5;
	text-indent: 20px;
	border-radius: 8px 8px 0 0;
	box-shadow: #aaa 3px 1px 10px;
}
#environment-body{
	background-color: #eee;
	min-height: 100px;
	border-radius: 0 0 8px 8px;
	box-shadow: #aaa 3px 5px 10px;
	padding: 10px;
	margin-bottom: 10px;
}
#environment-body p{
	font-size:16px;
	padding-left:23px;
	color:#666;
}
#environment .button-blue{
	float:right;
}
#ppt{
	position:relative;
	width: 98%;
	margin: 0 auto;
}
#pbtoggle{
	position: absolute;
	top:8px;
	right:8px;
	cursor: pointer;
}
#pbtoggle span{
	font-size: 18px;
	color:#a4adb8;
}
#pbtoggle img{
	transition: all 0.5s ease-in-out;
}
#ppt ul.nav{
	font-size: 16px;
}
#ppt ul.nav>li.active>a{
	color: white;
	background-color: #504e5a;
	border: 1px solid #504e5a;
}
#ppt ul.nav>li.active>a:hover{
	border: 1px solid #504e5a;
	border-bottom-color: transparent;
}
#ppt ul.nav>li>a{
	background-color: #393442;
	color:#ab9cc6;
}
#ppt ul.nav>li>a:hover{
	border:1px solid #000;
	border-bottom-color: transparent;
	color:white;
}
#ppt .tab-content{
	background-color: #504e5a;
	border-radius: 0 8px 8px 8px;
	height:500px;
}
#ppt .tab-pane{
	width:98%;
	margin:0 auto;
	padding:2%;
	height:100%;
}
#ppt li{
	list-style: none;
}
.ppt-list-active{
	border: 4px solid #05b9dc;
	box-sizing: initial;
}
#show-ppt-left,#show-ppt-middle{
	float:left;
}
#show-ppt-left{
	width:15%;
	height:100%;
	overflow-y: scroll;
}
#show-ppt-left ul#ppt-list{
	padding:0;
	margin: 0 5px 0 0;
}
#show-ppt-left li{
	margin:5px 0;
}
#show-ppt-left li:first-child{
	margin:1px 0 5px;
}
#show-ppt-left img{
	width:100%;
}
#show-ppt-middle{
	height:100%;
	overflow: hidden;
	margin-left:5px;
	position:relative;
}
#show-video{
	text-align: center;
}
.ppt-prev,.ppt-next{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10%;
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.ppt-prev:hover span,.ppt-next:hover span{
	display: inline-block;
	color: #fff;
}
.ppt-prev span,.ppt-next span{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: none;
}
.ppt-prev{
	left: 0;
}
.ppt-prev:hover{
	background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);
	background-repeat: repeat-x;
}
.ppt-prev span{
	left:30%;
}
.ppt-next{
	right:0;
}
.ppt-next:hover{
	background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.5) 100%);
	background-repeat: repeat-x;
}
.ppt-next span{
	right:30%;
}
#show-ppt-middle ul{
	height:100%;
	padding:0;
	width:1000000px;
	transition: all 0.5s ease-in-out;
}
#show-ppt-middle li{
	height:100%;
	padding:0;
	float: left;
}
#show-ppt-middle img{
	height:100%;
}
#show-ppt-right{
	float: right;
	height:100%;
}
#show-ppt-right p{
	background-color: #3e7fb7;
	border-radius: 8px 8px 0 0;
	font-size: 23px;
	text-align: center;
	color:#fff;
	padding:5px;
	margin:0;
}
#pagenote{
	height:30%;
	margin-bottom:5%;
	background-color: #fff;
	border-radius: 8px;
	position: relative;
}
#pagenote form,#classnote form{
	height:85%;
}
#pagenote textarea,#classnote textarea{
	height:90%;
	resize:none;
	margin-bottom: 3%;
	border:none;
}
#pagenote input{
	position: absolute;
	bottom: 5px;
}
#pagenote input.btn-primary{
	right:10px;
}
#pagenote input.btn-success{
	right:70px;
}
#classnote{
	height:68%;
	background-color: #fff;
	border-radius: 8px;
	position: relative;
}
#classnote .button-blue{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.arrow-right{
	position: absolute;
	border-width: 8px 0px 8px 6px;
	border-style: solid;
	border-color: transparent;
	border-left-color: #4c4c4c;
	top: 30px;
	right: -6px;
}
.arrow-bottom{
	position: absolute;
	border-width: 6px 5px 0px 10px;
	border-style: solid;
	border-color: transparent;
	border-top-color: #4c4c4c;
	bottom: -6px;
	right: 18px;
}
.button-blue{
	display: inline-block;
	height: 45px;
	width: 148px;
	color: white;
	background: url(../img/button-blue.png) no-repeat;
	line-height: 2.5;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}
a.button-blue:hover{
	color:white;
}
.exer-list{
	position:relative;
	background-color: #fff;
	padding:10px 50px 50px;
	font-size:16px;
	box-shadow: #b7b7b7 6px 6px 3px;
}
.exer-list .button-blue,#ppt .button-blue{
	float: right;
}
.exer-list p.exer-question,.exer-list p.exer-answer{
	line-height:2;
	font-size:16px;
}
.exer-list p.exer-question{
	margin-top:5px;
	padding-top:5px;
	border-top: 1px solid #d5d5d5;
}
.exer-list p.exer-answer{
	display: none;
	margin-top:55px;
}
.exer-list-header{
	font-size: 23px;
}
.exer-list-header span{	
	margin-right: 20px;
}
.exer-list input{
	display: none;
}
.check{
	position: absolute;
	top: 10px;
	left: 10px;
}
.checkmark{
	position: absolute;
	top: 18px;
	left: 18px;
	width:0px;
	overflow: hidden;
}
