body{
	background-color:#e2e2e2;
	font-family: 微软雅黑;
}
#carousel-inner-pc{
	width:75%;
	margin:0 auto;
}
#carousel-indicators-pc {
	position:relative;
	width:1225px;
	height:70px;
	left: 0;
	bottom: 0;
	margin:0 auto;
}

#carousel-indicators-pc li{
	position:relative;
	height:70px;
	width:290px;
	border:none;
	cursor: default;
	text-indent:0;	
	font-size: 20px;
	margin:-2px;
}
#carousel-indicators-pc li.li-last{
	width:40px;
}
#carousel-indicators-pc li.li-last span{
	width:80px;
}
#carousel-indicators-pc .pprev{
	background: url('../img/pb-pprev.png') no-repeat;
	background-position: bottom left;
	color:#6dd9aa;
}
#carousel-indicators-pc .prev{
	background: url('../img/pb-prev.png') no-repeat;
	background-position: bottom left;
	color:#6dd9aa;
}
#carousel-indicators-pc .active{
	background: url('../img/pb-now.png') no-repeat;
	background-position: bottom left;
	color:#72c8fa;
}
#carousel-indicators-pc .next{
	background: url('../img/pb-next.png') no-repeat;
	background-position: bottom left;
	color:#a4adb8;
}
#carousel-indicators-pc span{
	position: absolute;
	left: -20px;
}
.words{
	width:999px;
	margin:0 auto;
	text-align: center;
	padding: 0;
}
.words li{
	display: inline-block;
	width:196px;
	cursor: default;
}
canvas{
	margin-top:12px;
}
#prepare-class{
	margin-top: 70px;
}
.class-list,#accordion,#environment,.exer-list{
	width: 85%;
	margin: 20px auto;
}
.class-list{
	background-color: #fff;
	border-radius: 8px;
	font-size:18px;
	position:relative;
	height:200px;
	box-shadow: #b7b7b7 8px 5px 5px;
}
.class-list .btn{
	vertical-align: baseline;
}
.class-list-left{
	float: left;
	width:50%;
	height:160px;
	padding-right: 30px;
}
.class-list-right{
	float:right;
	width:50%;
	height:160px;
	background-color: #87dc99;
	color: white;
	padding-left: 30px;
}
.class-img{
	float: left;
	height:160px;
	background-color: #4c4c4c;
	margin-right: 20px;
}
.class-img img{
	max-height: 100%;
	padding:10%;
}
.class-questions{
	float: right;
	height: 100px;
	width: 120px;
	background-color: #4c4c4c;
	text-align: center;
	padding-top: 15px;
}
.class-questions span{
	font-size: 25px;
}
.class-progress{
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	background-color: #f0f0f0;
	border-radius: 0 0 8px 8px;
}
.class-progress p{
	line-height: 2.3;
	color:#6dd9aa;
}
.progress-cover{
background-color: #6dd9aa;
height: 40px;
float: left;
border-radius: 0 0 0 8px;
}
h3.underline{
	border-bottom: 1px solid #d5d5d5;
	margin-left: 170px;
	line-height: 1.5;
}
p.underline{
	border-bottom: 1px solid whitesmoke;
	line-height: 2;
	margin: 20px 150px 10px 0;
}
#accordion .panel-title{
	font-size: 24px;
	color:#333;
}
#accordion .panel-body{
	padding:0;
	font-size: 18px;
}
#accordion ul{
	margin:0;
	padding:0;
}
#accordion li{
	list-style: none;
}
#accordion li:hover{
	background-color:#72c8fa;
	color:white;
}
#accordion li p{
	margin:0;
	padding:10px 36px;
}
#environment{
	position: relative;
	min-height:150px;
	background-color: #eee;
	border-radius: 8px;
}
#environment .btn{
	position: absolute;
	bottom:5px;
	right:5px;
}
.exer-list{
	min-height: 100px;
	background-color: #eee;
	padding:10px 50px;
	border-radius: 8px;
	font-size:16px;
}
.exer-list .btn{
	float: right;
}
.exer-list p{
	margin-top:10px;
	display: none;
}
.pc-left{
	float:left;
	width:62%;
	margin:20px 1% 20px 3%;
}
.pc-right{
	position: relative;
	float: right;
	width:29%;
	margin:33px 3% 33px 2%;
}
.pc-right .btn{
	position:absolute;
	bottom:5px;
	right:5px;
}
#pagenote{
	height:120px;
	background-color: #eee;
	margin-bottom:20px;
}
#classnote{
	height:300px;
	background-color: #eee;
}