/* maincontainer */
.ppt_content_full .bubble:hover, .bt_fullsreen:hover, .bt_notfullsreen:hover {
	opacity: 1;
}
html, body, .onclasscontainer {
	height: 100%;
	margin: 0;
	padding: 0;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
h1 {
	margin-top: 0;
}
.onclasscontainer {
	padding-top: 0px;
}
body {
	background: #34495e;
	color: #fff;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	overflow-x: hidden;
	min-height: 560px;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
.mp-pusher {
	width: 100%;
	height: 100%;
}
/* overlays for pusher and for level that gets covered */
.mp-pusher::after, .mp-level::after, .mp-level::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
}
.mp-pusher::after, .mp-level::after {
	background: rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	-moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}
.topmenu-to-hide {
	-webkit-transform: translateY(-200px);
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
}
.topmenu-to-show {
	-webkit-transform: translateY(0px);
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
}
/* /maincontainer */
/* fullmask */
.fullmask {
	font-family: 微软雅黑;
	width: 100%;
	height: 99999px;
	position: relative;
	margin: 0 auto 40px;
	text-align: center;
}
.slide_content {
	overflow: hidden;
	background-color: #e2e2e2;
	position: relative;
	width: 100%;
	height: 100%;
}
.mp-pusher .topmenu {
	position: relative;
	width: 100%;
	height: 55px;
	background: #333745;
	z-index: 100;
	text-align: center;
	box-shadow: 0 1px 22px rgba(0,0,0,0.3);
}
/* /fullmask */
/* nfulltabbedcontent */
.nfull_tabbed_content {
	background-color: #fff;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.nfull_ppt_tabs {
	height: 100%;
	position: relative;
	width: 190px;
	float: left;
	background: #ACAEB4;
	overflow-y: scroll;
}
.nfull_ppt_tabs .tab_item {
	display: block;
	float: left;
	width: 160px;
	height: 120px;
	text-align: center;
	position: relative;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 11px;
	background-size: cover;
}
.tab_item1 {
	background: url(../img/ppt01.PNG);
}
.tab_item2 {
	background: url(../img/ppt02.PNG);
}
.tab_item3 {
	background: url(../img/ppt03.PNG);
}
.tab_item4 {
	background: url(../img/ppt04.PNG);
}
.tab_item5 {
	background: url(../img/ppt05.PNG);
}
.tab_item6 {
	background: url(../img/ppt01.PNG);
}
.tab_item7 {
	background: url(../img/ppt02.PNG);
}
.tab_item8 {
	background: url(../img/ppt03.PNG);
}
.nfull_slide_content {
	overflow: hidden;
	background-color: #000000;
	position: relative;
	float: left;
	height: 100%;
}
.nfull_tabslider {
	width: 9999999px;
	height: 100%;
}
.nfull_tabslider .pptm {
	float: left;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #fff;
	list-style: none;
	background-size: cover;
	background-repeat: no-repeat;
}
.nfull_tabslider ul a {
	color: #ffffff;
	text-decoration: none;
}
.nfull_tabslider ul a:hover {
	color: #aaaaaa;
}
.nfull_tabslider ul li {
	padding-bottom: 7px;
}
.nfull_tabslider .pptm_img {
	height: 100%;
	min-width: 400px;
	min-height: 300px;
}
.nfullr {
	height: 100%;
	float: left;
	background: #FFF;
	margin-left: 10px;
}
.nfullnote {
	width: 100%;
	height: 40%;
	overflow: hidden;
}
.nfullqa {
	width: 95%;
	height: 55%;
}
.qatitle {
	width: 100%;
	height: 30px;
}
.progress-to-hide {
	-webkit-transform: translateY(-80px);
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
}
.item-to-top {
	padding-top: 0px;
}
.bt_preclass {
	margin-left: 5px;
	margin-top: 5px;
}
.bt_nextclass {
	margin-right: 5px;
	margin-top: 5px;
}
#btn_over {
	margin-top: -40px;
	margin-right: 60px;
	float: right;
}
.nfullnote .notearea {
	margin-top: 42px;
	height: 100%;
	width: 100%;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
}
.nfullnote .notesubmit {
	float: right;
	margin-top: 10px;
}
.nfullnote .notereset {
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}
.nfullnote .notetitle {
	margin-top: -42px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
}
.btdiv {
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
}
.nfullnote:hover .notetitle {
	margin-top: 0px;
}
.nfullnote:hover .notearea {
	height: 80%;
}
.nfullnote:hover .btdiv {
	margin-top: -50px;
}
/* /nfulltabbedcontent */
/* ppttabbedcontent */

.ppt_slide_content {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.ppt_tabslider {
	width: 200%;
	height: 100%;
}
.ppt_tabslider .ppt_content_notfull {
	float: left;
	width: 50%;
	height: 100%;
}
.ppt_content_full {
	float: left;
	width: 50%;
	height: 100%;
	background: #000;
}
.ppt_content_full .bubble, .bt_fullsreen, .bt_notfullsreen {
	width: 50px;
	height: 50px;
	position: relative;
	z-index: 101;
	border: none;
	list-style: none;
	float: right;
	opacity: 0;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
	outline: none;
	margin-right: 5px;
	margin-top: -5px;
}
.bt_fullsreen {
	opacity: 0.5;
}
.ppt_content_full .bubble {
	width: 48px;
	height: 48px;
	font-size: 20px;
	color: #fff;
	background: url(../img/bubble.png) no-repeat;
}
.bt_notfullsreen {
	background: url(../img/notfullscreen.png) no-repeat;
}
.bt_fullsreen {
	background: url(../img/fullscreen.png) no-repeat;
	margin-top: -50px;
}
.Pconf {
	width: 100%;
	height: 0px;
}
/* /ppttabbedcontent */
/* codeexample */
#code_exp, #video, #taskeva, #bookreq, #stuquestion {
	width: 100%;
	overflow: hidden;
}
#video {
	background: #000;
}
#qa {
}
#taskeva {
	background: #CFCFCF;
}
#bookreq {
	background: #ecf0f1;
}
.taskq {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}
.taskq1 {
	width: 100%;
	height: 150px;
}
.taska {
	width: 100%;
	height: 100%;
}
.codearea {
	width: 100%;
	height: 95%;
	overflow-y: auto;
	float: left;
}
#code_exp .nav-tabs {
	margin-top: 60px;
	margin-left: 10px;
}
/* /codeexample */
::-webkit-scrollbar {
width: 10px;
background: #2a2e3a;
}
